<form [formGroup]="formulario" (ngSubmit)="ingresoUsuarios(formulario.value)">
  <ul>
   <li>
     <label for="name">Nombre</label>
     <input type="text" id="name" name="user_name" formControlName="nombre">
   </li>
   <li>
     <label for="Correo">Correo electrónico:</label>
     <input type="email" id="mail" name="user_mail"formControlName="correo">
   </li>
   <li>
     <label for="msg">Mensaje:</label>
     <textarea id="msg" name="user_message"formControlName="mensaje"></textarea>
   </li>
  </ul>
  <button type="submit" values=(ingresoUsuarios)>ingrese</button>
 </form>